body,
h1, h2, h3, h4, h5 {
  font-family: 'Quicksand', sans-serif;
}

header h1:after {
  content: 'Web Developer';
  /*margin-left: 1rem;*/
  float: right;
  margin: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #6b6b6b;
}

header p {
  line-height: 1 !important
}

footer {
  margin-top: 1rem;
  padding: 1rem 0;
  border-top: 1px solid #ccc;
}

div.card {
  cursor: pointer;
}

@media screen and (max-width: 40em) {
  header h1:after {
    margin: 0.5rem 0;
    font-size: 1rem;
  }
}